body{
    border: 0%;
    margin: 0%;
    background-color: lightgrey;
    font-family: 'Courier New', Courier, monospace;
}
header{
    position: sticky;
    top: 0%;
}
 .headerDiv{
   
    display: flex;
    margin: auto;
    justify-content:space-between;
    background-color:#bccccc;
    border-color: black;
    background:linear-gradient(to top, lightgrey,white);

}
.headerDiv__titulo{
  font-size:large;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 25px;
}
span{
    color: #1a7fb9;
 
}
.headerDiv__icons{
    margin: 10px;
    size: 20px;
}

#boton__generar{
    background-color: #1f91d3;
    border:2px solid #1f91d3 ;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;

    font-size: 20px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
#boton__generar:hover{
    background-color: #6db6e0;
    border:2px solid #6db6e0 ;
    padding: 9px;
}
#boton__generar:active{
    padding: 11px;
}

main{
    display: flex;
    justify-content: center;
   
}

.tag{
    display: flex;
    flex-direction: row;
    background-color: #1a7fb9;
    margin: 5px 50px;
    border-radius: 15px;
   min-width: 1050px;
   justify-content: baseline;
   
}
.img{
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    border: 5px solid lightgray;
    margin: 5px;
}
.tag p{
    margin: 20px ;
    background-color: #bccccc;
    padding:10px 10px;
    text-align: center;
    border-radius: 5px;
}


::-webkit-scrollbar {
    width: 15px;
  }
  

  ::-webkit-scrollbar-track {
    background: lightgrey;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #1a7fb9;
  
   
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #6db6e0;
  }





  @media  screen and ( max-width:600px){
    .headerDiv__titulo{
      margin-left: 1px;
      margin-top: 20px;
      font-size: 15px;
    }
    .headerDiv__icons{
        size: 10px;
    }

    .tag{
    flex-direction: column;
    margin: 5px;
    margin-right: 30px;
    min-width: 300;
    }

    .img{
        max-width: 70px;
        max-height: 70px;
        margin: 3px;
    }
    .tag p{
        margin: 5px ;
     
        padding:5px 5px;
        /*text-align: center;*/
        border-radius: 5px;
    }
    
  }
  @media  screen and ( max-width:1100px){
 
    .headerDiv__titulo{
      margin-left: 1px;
      margin-top: 20px;
      font-size: 20px;
    }

    .tag{
    flex-direction: column;
    margin: 5px;
    margin-right: 30px;
    min-width: 300;
    
    }
    .img{
        max-width:50px;
        max-height: 50px;
        margin:1px;
        
    }
    .tag p{
        margin: 5px ;
     
        padding:5px 5px;
        /*text-align: center;*/
        border-radius: 5px;
    }
    
  }
    
  
    
  